@media screen and (max-device-width: 480px) {
    #email {
        font-size: 1em;
    }
}

.header-links {
    cursor: pointer;
}

.workImg {
    margin-top: 20%;
    height: 70%;
}

.workExperience {
    font-size: 1rem;
}

.card-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.25rem;
}

.workExperience.citadel_securities b em {
    color: #002f6b;
}

.workExperience.wish b em {
    color: #07acd4;
}

.workExperience.ibm b em {
    color: #3870ba;
}

.workExperience.c1 b em {
    color: #c13c2e;
}

.workExperience.ni b em {
    color: #03ae7b;
}

.workExperience.brainweber b em {
    color: #ff9136;
}
