@media screen and (max-device-width: 480px)
{
    #email {
        font-size: 1em;
    }
}

.header-links {
    cursor: pointer;
}

.workImg {
    margin-top: 20%;
    height: 70%;
}

.workExperience {
    font-size: 1rem;
}


.workExperience.ibm b em {
    color: #466bb0;
}

.workExperience.c1 b em {
    color: #7b0005;
}

.workExperience.ni b em {
    color: #000353;
}

.workExperience.brainweber b em {
    color: #007a20;
}