.workImg {
    margin-top: 20%;
    height: 70%;
}

.workExperience {
    font-size: 1rem;
}

@media screen and (max-device-width: 480px)
{
    #email {
        font-size: 1em;
    }
}

.header-links {
    cursor: pointer;
}